* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(175, 209, 160);
}

body {
}

.overlay {
  inset: 0 0 0 0;
  // background-color: blue;
  position: absolute;

  .notice {
    text-align: center;
    color: #435942;
    padding-top: 20dvh;
    font-family: 'OngleipKonkon';
  }

  .clock_style {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
  }

  #clock {
    font-family: 'OngleipKonkon';
    font-weight: bolder;
    font-weight: 400;
    font-style: normal;
    color: #435942;
    padding: 3rem;
    background-color: rgb(255, 253, 242);
    border-radius: 16px;
  }
}

.main {
  // background-color: red;

  .letter-close {
    display: block;

    .envelope {
      width: 250px;
      height: 200px;

      background-image: url('../img/letter_img.png');
      background-size: cover;
      background-position: center;

      margin: 200px auto 0px auto;

      cursor: pointer;
    }

    .envelope-msg {
      padding-top: 20px;
      color: #435942;
      text-align: center;
      font-family: 'OngleipKonkon';
    }

    h2 {
      font-family: 'OngleipKonkon';
      color: #435942;
      text-align: center;
    }
  }

  .letter-open {
    margin: 15px;
    display: none;

    .messagebox {
      background-color: ivory;
      width: 400px;
      margin: auto;
      color: #435942;
      padding: 30px;
      font-size: 20px;
      line-height: 30px;
      box-shadow: 0px 0px 10px 0px white;
      font-family: 'OngleipKonkon';
      font-size: 15px;

      .from {
        background-color: ivory;
        text-align: right;
        margin-bottom: 0px;
        margin-top: 5px;
      }
    }

    h1 {
      font-family: 'OngleipKonkon';
      color: #435942;
      text-align: center;
      padding-bottom: 15px;
    }
  }
}

@font-face {
  font-family: 'OngleipKonkon';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2')
    format('woff2');
  font-weight: normal;
  font-display: swap;
}

@media screen and (max-width: 760px) {
}
